
.header-row{
  background: black;
  height: 100px;
  text-align: center;
}

/* .header-logo{
  height:100px;
  width:100px;
  float:right;
} */

.hr{
  font-weight: bold;
  border-top: 2px solid black;
}

.header-text{
  font-size:85px;
  color:aqua;
  margin: 0px;
  font-family:  "Iowan Old Style";
}
/* 
.container{
  background-color: lightblue;
} */