.header-row{
    background: white;
    height: 100px;
    text-align: center;
  }
  
  .header-logo{
    height:100px;
    width:100px;
    float:right;
  }
  
  .hr{
    font-weight: bold;
    border-top: 2px solid black;
  
  }
  
  .header-text{
    font-size:85px;
    color:black;
    margin: 0px;
    font-family:  "Iowan Old Style";
  }
  @media (max-width: 970px){
    .header-text {
      font-size: 40px; 
    }
  }
  .container{
    text-align: center;
    justify-content: center;
  }
  .expense-output{
    font-size: 60px;
  }
  .container {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  .input-box-name{
    border: 2px solid black;
    height:40px;
    width: 380px;
    font-size: 20px;
  }

  .input-box-category{
    border: 2px solid black;
    height:40px;
    width: 380px;
    font-size: 20px;
    margin-right: 10px;
  }

  .input-box-price{
    border: 2px solid black;
    height:40px;
    width: 380px;
    font-size: 20px;
  }
  
  
  
  button {
    height: 30px;
    cursor: pointer;
    background-color: black;
    color: white;
    margin-left: 20px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: rgb(107, 102, 102);
  }
  .add-btn{
    margin-top: 20px;
  }
.output-text{
  font-size: 30px;
}
.label-text-name{
  font-size: 30px;
  margin-right: 35px;
}

.label-text-category{
  font-size: 30px;
  margin-right: 10px;
}

.label-text-price{
  font-size: 30px;
  margin-right: 45px;
}